@import '@src/app/styles/mixins';
@import '@src/app/styles/vars';

.postrow {
  @include reset;

  padding: 2px;
  box-sizing: border-box;
}

.poststring {
  @include reset;
  @include text;
  @include text-format(600, 24px, normal);

  color: $mainTextColor;
  padding-bottom: 5px;
}

.postspan {
  @include reset;
  @include text;
  @include text-format(400, 16px, normal);

  color: $mainTextColor;
}